

body {
  /*  background-color: #FFFCF6;*/
  background-color: #e9dbc1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



.logo {
    width: 100px; 
    height: auto; 
    margin-left: 75px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #325343;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #F7E06B;
    font-weight: bold;
    font-size: 18px;
}