

body {
  /*  background-color: #FFFCF6;*/
  background-color: #e9dbc1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



.logo {
    width: 100px; 
    height: auto; 
    margin-left: 75px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #325343;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #F7E06B;
    font-weight: bold;
    font-size: 18px;
<<<<<<< HEAD
}

nav a:hover{
    text-decoration: none;
    color:#e9dbc1 ;
    font-weight: bold;
    font-size: 22px;
}

footer {
    background-color:#F7E06B;
    text-decoration: none;
    border-radius: 5%;
    margin-top: 30px;
}

footer a {
    text-decoration: none;
    color: #333;  
    margin-right: 100px; 
    margin-left: 200px;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

   margin-top: 7px;
}


@media (max-width: 400px) {
    body {
        /*  background-color: #FFFCF6;*/
        background-color: white;

      }

      .logo {
        width: 50px; 
        height: auto; 
        margin-left: 3px;
        margin-right: 3px;
    }

    header {
        background-color: #325343;
        padding: 10px 10px;
        
        
    }

    nav a {
        text-decoration: none;
        color: #F7E06B;
        font-weight: bold;
        font-size: 10px;
    }

    nav {
        display: inline;
        justify-content: center;
        align-items:start;
    }
     
    nav li {
        margin: 1px 5px;
    }

=======
>>>>>>> 84bde23c84fe29433bfd1229f85eae1e9f132930
}