/*Cadastro*/
.message {
    padding: 1em;
    color: #004085;
    background-color: #cce5ff;
    border: 1px soli d#b8daff;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 60%;
  }

#cadForm > h1 {
    color: #325343;
    text-align: center;
    margin-bottom: 50px;
    text-decoration:underline #333;

}

#cadForm > p {
    color: #325343;
    font-weight: lighter;
    
    margin-bottom: 7px;
}

#cadForm > p > a {
    color: #325343;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#cadRight {
    text-align: center;
}


#cadForm {
    display: flex;
    justify-content:center;
    border: 1px solid #333;
    background-color: #F7E06B;
    flex-direction: column;
    margin: 650px ;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    border-radius: 5%;

    
    

}



.start {
    margin-top: 5px;
    margin-bottom: 5px;
}

.lab {
    color: #325343;
    font-weight: bold;
    margin-top: 30px;

}

#cadForm .lab.labCad {
    color: #F7E06B;
    font-weight: bold;
    margin-top: 30px;

}

.inpt {
    background-color: #FFFCF6;
    padding: 10px;
    padding-bottom: 10px;
}

.inpt:hover {
    background-color: white;
}


.reset {
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    color: #325343;
    font-size: 15px;
    font-weight: bold;
}

.reset:hover {
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    color: #F7E06B;
    cursor: pointer;
    background-color: #325343;
    font-size: 15px;
    font-weight: bold;
}

.submit {
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-top: 3px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    color: #325343;
    font-size: 15px;
    font-weight: bold;
}

.submit:hover {
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-top: 3px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    color: #F7E06B;
    background-color: #325343;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}


/*Login*/

#login-container {
    display: flex;
    justify-content:center;
    border: 1px solid #333;
    background-color: #F7E06B;
    flex-direction: column;
    margin: 650px ;
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 50px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    border-radius: 5%;

    animation-name: campo;
    animation-duration: 1s;

}

.inputF {
    display: flex;
    justify-content: center;

    color: #325343;
    font-weight: bold;
  
}

.off:hover {
   
  background-color: white;
    
}

.off{
    display: flex;
    justify-content: center;
    
    margin: 0 auto;
   
    background-color: #FFFCF6;
    padding: 10px;
    padding-bottom: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#thebtn{
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    color: #325343;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}


#thebtn:hover {
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-top: 10px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    color: #F7E06B;
    background-color: #325343;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}


#theBtnReset {
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    color: #325343;
    font-size: 15px;
    font-weight: bold;
    margin-top: 2px;
}

#theBtnReset:hover {
    color: #F7E06B;
    background-color: #325343;
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    margin-top: 2px;
    font-size: 15px;
    font-weight: bold;
}


h1 {
    color: #325343;
    text-align: center;
    margin-bottom: 50px;
    text-decoration:underline #333;
}

.check {
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    
}

#cadastre {
    text-align: center;
}



#cadastre > p {
    color: #325343;
    
    text-decoration: none;
    
}

#cadastre > p > a{
    color: #325343;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

}

@media only screen and (max-width: 400px) and (max-height: 700px)  {

    #login-container {
        display: flex;
        justify-content:center;
        border: 2px solid #325343;
        background-color: #F7E06B;
        flex-direction: column;
        margin: 20px ;
        margin-top: 300px;
        margin-bottom: 200px;
        padding: 50px;
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 100px;
        border-radius: 5%;
    
        animation-name: campo;
        animation-duration: 1s;
    
    }

    #thebtn{
        padding: 15px;
        margin: 20px;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 10%;
        text-shadow: 5px;
        color: #325343;
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
    }

    #thebtn:hover {
        padding: 15px;
        margin: 20px;
        margin-left: 50px;
        margin-top: 10px;
        margin-right: 50px;
        border-radius: 10%;
        text-shadow: 5px;
        color: #F7E06B;
        background-color: #325343;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }

    #theBtnReset {
        padding: 15px;
        margin: 20px;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 10%;
        text-shadow: 5px;
        color: #325343;
        font-size: 15px;
        font-weight: bold;
        margin-top: 2px;
    }

    #theBtnReset:hover {
        color: #F7E06B;
        background-color: #325343;
        padding: 15px;
        margin: 20px;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 10%;
        text-shadow: 5px;
        margin-top: 2px;
        font-size: 15px;
        font-weight: bold;
    }
    





    body {
        /*  background-color: #FFFCF6;*/
        background-color: white;

      }

      .logo {
        width: 50px; 
        height: auto; 
        margin-left: 3px;
        margin-right: 3px;
    }

    header {
        background-color: #325343;
        padding: 10px 10px;
        
        
    }

    nav a {
        text-decoration: none;
        color: #F7E06B;
        font-weight: bold;
        font-size: 10px;
    }

    nav {
        display: inline;
        justify-content: center;
        align-items:start;
    }
     
    nav li {
        margin: 1px 5px;
    }

   
}


/*Contato*/

#divCenter {
    display: flex;
    justify-content:center;
    border: 1px solid #333;
    background-color: #F7E06B;
    flex-direction: column;
    margin: 650px ;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    border-radius: 5%;
    
}

.text {
    background-color:#FFFCF6;
    color:#325343;
    margin-left: 200px;
    padding: 15px;
    
   
}

.align {
    display: flex;
    justify-content: center;
    margin-left: 150px;
}

.lab-2 {
    display: flex;
    justify-content: center;
    margin-right: 150px;
    margin-left: 130px;
}



.required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
  }
  
  input.error {
    border: solid 2px #992020;
    background-color: red;
    color: black;
    font-weight: bolder;
  }
  
  input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }
  
  .visible {
    display: block;
  }

#email-helper {
    color: #992020;
    font-size: 15px;
    font-weight: bold;
}


#senha-helper {
    color: #992020;
    font-size: 15px;
    font-weight: bold;
}

#Confirm-helper {
    color: #992020;
    font-size: 15px;
    font-weight: bold;
}

#name-helper {
    color: #992020;
    font-size: 15px;
    font-weight: bold;
}

#date-helper {
    color: #992020;
    font-size: 15px;
    font-weight: bold;
}

#login-container.black {
    
        display: flex;
        justify-content:center;
        border: 1px solid black;
        background-color:#325343;
        flex-direction: column;
        margin: 650px ;
        margin-top: 100px;
        margin-bottom: 200px;
        padding: 50px;
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 100px;
        border-radius: 5%;
    
        animation-name: campo;
        animation-duration: 1s;
    
    
}

.lab.blackOther {
    color:#F7E06B;
    font-weight: bold;
    margin-top: 30px;

}

#login-container > h1.titleH {
    color: #F7E06B;
}

body.bodyBlack {
    /*  background-color: #FFFCF6;*/
    background-color:black;
  }

  .check.checkBlack {
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    color: #F7E06B;
    
}

#cadastre > p.blackP {
    color:#F7E06B;
    
    text-decoration: none;
    
}



#cadastre > p > a.blackA{
    color:#F7E06B;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

}

footer {
    background-color:#F7E06B;
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-top: 30px;
    padding: 5px;
    position: relative;
    
}


footer a {
    text-decoration: none;
    color: #333;  
    margin-right: 100px; 
    margin-left: 200px;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

   margin-top: 7px;
}



#footerId > p.footerLetra {
    color: #F7E06B;
    font-weight: bolder;
    
    margin-top: 7px;
   text-align: center;
}

#p-roda-a {
    color: #325343;
    font-weight: bolder;
    display: flex;
    margin-top: 7px;
    justify-content: center;
    
}

#p-roda-b {
    color: #325343;
    font-weight: bolder;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
    
}

footer .img-git {
    width: 70px; /* Redimensionar as imagens dos ícones do GitHub */
}

#footerId {
    margin-top: 100px;
    padding-top: 4px;
}


@media only screen and (max-width: 400px) and (max-height: 700px)  {
    #cadForm {
        display: flex;
        justify-content:center;
        border: 1px solid #333;
        background-color: #F7E06B;
        flex-direction: column;
        margin: 20px ;
        margin-top: 300px;
        margin-bottom: 100px;
        padding: 50px;
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        border-radius: 5%;
    
        }

        .reset {
            padding: 15px;
            margin: 20px;
            margin-left: 60px;
            margin-right: 60px;
            border-radius: 10%;
            text-shadow: 5px;
            color: #325343;
            font-size: 15px;
            font-weight: bold;
        }
        
        .reset:hover {
            padding: 15px;
            margin: 20px;
            margin-left: 60px;
            margin-right: 60px;
            border-radius: 10%;
            text-shadow: 5px;
            color: #F7E06B;
            cursor: pointer;
            background-color: #325343;
            font-size: 15px;
            font-weight: bold;
        }
        
        .submit {
            padding: 15px;
            margin: 20px;
            margin-left: 60px;
            margin-top: 3px;
            margin-right: 60px;
            border-radius: 10%;
            text-shadow: 5px;
            color: #325343;
            font-size: 15px;
            font-weight: bold;
        }
        
        .submit:hover {
            padding: 15px;
            margin: 20px;
            margin-left: 60px;
            margin-top: 3px;
            margin-right: 60px;
            border-radius: 10%;
            text-shadow: 5px;
            color: #F7E06B;
            background-color: #325343;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
        }

        #footerId {
            margin-top: 1200px;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    
        #alignGit a {
            margin-left: 5px;
            margin-right: 5px;
    
        }
    
        footer {
           
            background-color: #F7E06B;
            text-decoration: none;
            position: relative;
            margin-top: 3px;
            width: 100%;
            border-radius: 0;
            padding: 5px;
        }
    
        
    
        #p-roda-a,
        #p-roda-b {
            font-size: 10px; /* Reduzir ainda mais o tamanho do texto */
            text-align: center;
            margin-top: 7px;
        }
    
        footer a {
            margin-top: 50px; /* Reduz ainda mais a margem superior */
            margin-bottom: 5px; /* Reduz ainda mais a margem inferior */
            padding: 3px; /* Reduz o preenchimento */
        }
}
