/*Cadastro*/

#cadForm > h1 {
    color: #325343;
    text-align: center;
    margin-bottom: 50px;
    text-decoration:underline #333;

}

#cadForm > p {
    color: #325343;
    font-weight: lighter;
    
    margin-bottom: 7px;
}

#cadForm > p > a {
    color: #325343;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#cadRight {
    text-align: center;
}


#cadForm {
    display: flex;
    justify-content:center;
    border: 1px solid #333;
    background-color: #F7E06B;
    flex-direction: column;
    margin: 650px ;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    border-radius: 5%;
}

.start {
    margin-top: 5px;
    margin-bottom: 5px;
}

.lab {
    color: #325343;
    font-weight: bold;

}

.inpt {
    background-color: #FFFCF6;
    padding: 10px;
    padding-bottom: 10px;
}

.inpt:hover {
    background-color: white;
}


.reset {
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    color: #325343;
    font-size: 15px;
    font-weight: bold;
}

.reset:hover {
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    color: #F7E06B;
    cursor: pointer;
    background-color: #325343;
    font-size: 15px;
    font-weight: bold;
}

.submit {
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-top: 3px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    color: #325343;
    font-size: 15px;
    font-weight: bold;
}

.submit:hover {
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-top: 3px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    color: #F7E06B;
    background-color: #325343;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}


/*Login*/

#login-container {
    display: flex;
    justify-content:center;
    border: 1px solid #333;
    background-color: #F7E06B;
    flex-direction: column;
    margin: 650px ;
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 50px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    border-radius: 5%;
}

.inputF {
    display: flex;
    justify-content: center;

    color: #325343;
    font-weight: bold;
  
}

.off:hover {
   
  background-color: white;
    
}

.off{
    display: flex;
    justify-content: center;
    
    margin: 0 auto;
   
    background-color: #FFFCF6;
    padding: 10px;
    padding-bottom: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#thebtn{
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    color: #325343;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}


#thebtn:hover {
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-top: 10px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    color: #F7E06B;
    background-color: #325343;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}


#theBtnReset {
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    color: #325343;
    font-size: 15px;
    font-weight: bold;
    margin-top: 2px;
}

#theBtnReset:hover {
    color: #F7E06B;
    background-color: #325343;
    padding: 15px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10%;
    text-shadow: 5px;
    margin-top: 2px;
    font-size: 15px;
    font-weight: bold;
}


h1 {
    color: #325343;
    text-align: center;
    margin-bottom: 50px;
    text-decoration:underline #333;
}

.check {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    
}

#cadastre {
    text-align: center;
}

#cadastre > p {
    color: #325343;
    
    text-decoration: none;
    
}

#cadastre > p > a{
    color: #325343;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}