
@media only screen and (max-width: 400px) and (max-height: 700px)  {
#footerId {
    margin-top: 2000px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#alignGit a {
    margin-left: 5px;
    margin-right: 5px;

}

footer {
   
    background-color: #F7E06B;
    text-decoration: none;
    position: relative;
    margin-top: 3px;
    width: 100%;
    border-radius: 0;
    padding: 5px;
}



#p-roda-a,
#p-roda-b {
    font-size: 10px; /* Reduzir ainda mais o tamanho do texto */
    text-align: center;
    margin-top: 7px;
}

footer a {
    margin-top: 50px; /* Reduz ainda mais a margem superior */
    margin-bottom: 5px; /* Reduz ainda mais a margem inferior */
    padding: 3px; /* Reduz o preenchimento */
}
}