*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 100px; 
    height: auto; 
    margin-left: 75px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e9dbc1;
}

header {
    background-color: #325343;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between; /* Alinha os itens ao redor do espaço disponível */
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #F7E06B;
    font-weight: bold;
    font-size: 18px;
}

/* Estilos para a seção do banner */
section {
    text-align: center;
    margin: 20px 0;
}

.banner {
    width: 100%; /* Ocupa toda a largura do contêiner pai */
    max-width: 1200px; /* Largura máxima do banner (ajuste conforme necessário) */
    height: auto; /* Altura ajustada automaticamente proporcionalmente à largura */
    margin: 0 auto; /* Centraliza o banner no contêiner pai */
}

/* Estilos para a seção dos cards */
.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    margin: 100px;
    margin-left: 10px ;
    margin-right: 10px ;
}

.card:hover {
    animation-name: card;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes card {
    from {
     margin: 100px;
    }
  
    to {
     margin: 50px;
    }
  }


.card > p {
    margin-top: 10px;
    font-weight: bold;
}
#h1-banner {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
    color: #325343;
    font-weight: bolder;
    font-size: 30px;
    text-decoration:underline #F7E06B;
  
}



#about {
    text-align: center;
}

#about > a {
    text-align: center;
    color:#325343;
    font-weight: bolder;
    text-decoration: none;
}

.p-0 {
    text-align: justify;
    color: #325343;
    margin-top: 10px;
    margin: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

.focus {
    text-align: justify;
    color: #325343;
    font-weight: bolder;
    margin-top: 10px;
    margin: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

.after {
    display: inline-block;
    align-items: center;
    border-radius: 70%;
    background-color: #325343;

}

/* Adicione mais estilos conforme necessário */

.rodape {
    background-color: red;

}

.rodape h4 {
    color: red;
}

/*imagens*/
.theImg {
    width: 200px;
    margin-top: 5px;
}

.theImg-1 {
    width: 100px;
    margin-top: 5px;
}


.bannerImage {
    margin-top: 25px;
    width: 700px;
    border-radius: 5%;
    
}


