<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/global.css">
    <link rel="stylesheet" href="/CSS/apoie.css">
    <title>Document</title>

    <script src="/global.js" defer></script>
    <script src="/apoio.js" defer></script>
</head>
<body>
     <header id="nav">
                    <img class="logo" src="/logo.png" alt="Logo">  <!-- Logo -->
            
                    <!-- Menu Navegação -->
                    <nav >
                          <ul>
                             <li><a href="/">Home</a></li>
                            {{#if session.userid}}
                            
                           
                           <li><a href="contato">Contato</a></li> 
                            <li><a href="saude">Sua saúde</a></li>
                             <li><a href="sobre">Sobre nós</a></li>
                             <li><a href="apoio">Apoio</a></li>
                            <li><a href="/logout">Sair</a></li>
                            
                            {{else}}
                            
                            <li><a href="contato">Contato</a></li> 
                            <li><a href="cadastro">Cadastro</a></li>
                             <li><a href="saude">Sua saúde</a></li>
                             <li><a href="apoio">Apoio</a></li>
                             <li><a href="sobre">Sobre nós</a></li>
                            <li class="loginButton"><a href= "logando">Login</a></li> <!--Botão de leva pro form de login-->
                            {{/if}}
                        </ul>
                    </nav>
                </header>

                <button id="btnN">Tema Escuro</button>

            <div>
                {{#if messages.message}}
                <div class="message">
                {{messages.message}}
                </div>
                {{/if}}
            </div>


        <main id="main_container">
            <h1>Não encontrou o que precisava em <a href="/saude">Sua saúde</a> ? Mande para a gente o seu relato que os nossos profissionais
                irão analisar a sua situação e te oferecer o melhor APOIO possível.
            </h1>
            <div id="apoio_container">

                <form action="/apoio" method="post">
                    <label for = "email">E-mail para contato:</label>
                    <input  name="email" type="text"></input>
                    <label for = "title">Qual o problema ?</label>
                    <input  name="title"  maxlength="50" type="text"></input>

                    <textarea for = "aboutThey" name = "aboutThey" maxlength="900" placeholder="Sua mensagem aqui" name="" id="" cols="80" rows="20"></textarea>
                    <button class="btn submit">Enviar</button>
                </form>


            </div>

        </main>
            
    
    <footer id="footerId">
        <p id="p-roda-a">Sua saúde é o que importa para nós</p>
        <p id="p-roda-b">Contato dos desenvolvedores:</p>
        
        <div id="alignGit">

            <a target="_blank" href="https://github.com/Ailton-Nascimento"><img class="img-git" src="/git-removebg-preview.png" alt=""></a>
    
    
            <a target="_blank" href="https://github.com/GabrielMS1903"><img class="img-git" src="/git-removebg-preview.png" alt=""></a>
    
    
            <a target="_blank" href="https://github.com/Abel-D-Silva"><img class="img-git" src="/git-removebg-preview.png" alt=""></a>
    
    
            <a target="_blank" href="https://github.com/rasecprogram"><img class="img-git" src="/git-removebg-preview.png" alt=""></a>
    
           </div>
        
      
       
      
        
    </footer>

    
</body>
</html>