<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/CSS/style.css">
     <link rel="stylesheet" type="text/css" href="/public/CSS/global.css">
     
    
    <script src="https://kit.fontawesome.com/98e279bd07.js" crossorigin="anonymous"></script>
    <!--link rel="stylesheet" type="text/css" href="globals.css"-->
    <title>Contato</title>
</head>

<body >

    <header id="nav">
        <img class="logo" src="/img/logo.png" alt="Logo">  <!-- Logo -->

        <!-- Menu Navegação -->
        <nav >
              <ul>
                 <li><a href="/">Home</a></li>
                
                
                <li><a href="contato.html">Contato</a></li> 
                <li><a href="cadastro.html">Cadastro</a></li>
                <li><a href="suaSaude.html">Sua saúde</a></li>
                 <li><a href="apoio.html">Apoio</a></li>
                 <li><a href="index.html">Sobre nós</a></li>
                <li class="loginButton"><a href= "login.html">Login</a></li> <!--Botão de leva pro form de login-->
               
            </ul>
        </nav>
    </header>

     <button id="btnN">Tema Escuro</button>

    <!--Formulario Contato-->
    <div class="container"></div>
    <form id="form" class="meu_form">
        <h1>Entre em contato</h1>

        <div class="form-control">
            <label for="nome">Nome:</label>
            <input type="text" autocomplete="off" id="nome" placeholder="Seu Nome" name="nome" />
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>


        </div>

        <div class="form-control">
            <label for="tell"> Telefone:</label>
            <input type="tel" autocomplete="off" id="tell" placeholder="(_)xx-xx-xx-xx" name="fone" />
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>

        </div>

        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="@mail.com" name="email" />
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>

        </div>

        <div class="form-control">
            <label for="mensagem">Mensagem:</label>
            <textarea rows="10" placeholder=" "></textarea>

            <input type="submit" class="enviar" onclick="Enviar();" value="Enviar" />
        </div>


    </form>
    
    

  <footer id="footerId">
        <p id="p-roda-a">Sua saúde é o que importa para nós</p>
        <p id="p-roda-b">Contato dos desenvolvedores:</p>
        
        <div id="alignGit">

            <a target="_blank" href="https://github.com/Ailton-Nascimento"><img class="img-git" src="/img/git-removebg-preview.png" alt=""></a>
    
    
            <a target="_blank" href="https://github.com/GabrielMS1903"><img class="img-git" src="/img/git-removebg-preview.png" alt=""></a>
    
    
            <a target="_blank" href="https://github.com/Abel-D-Silva"><img class="img-git" src="/img/git-removebg-preview.png" alt=""></a>
    
    
            <a target="_blank" href="https://github.com/rasecprogram"><img class="img-git" src="/img/git-removebg-preview.png" alt=""></a>
    
           </div>
        
      
       
      
        
    </footer>

    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/global.js"></script>
</body>

</html>