<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/global.css">
    <link rel="stylesheet" href="/CSS/styleSuaSaude.css">
    <link rel="stylesheet" type="text/css" href="/CSS/styleHome.css">
    

    <script src="/home.js" defer></script>
    <script src="/global.js"></script>
    
    <title>Home</title>
    
    
</head>

<body id="bodyH" >
 <header id="nav">
                    <img class="logo" src="/logo.png" alt="Logo">  <!-- Logo -->
            
                    <!-- Menu Navegação -->
                    <nav >
                          <ul>
                             <li><a href="/">Home</a></li>
                            {{#if session.userid}}
                            
                           
                           <li><a href="contato">Contato</a></li> 
                            <li><a href="saude">Sua saúde</a></li>
                             <li><a href="sobre">Sobre nós</a></li>
                             <li><a href="apoio">Apoio</a></li>
                            <li><a href="/logout">Sair</a></li>
                            
                            {{else}}
                            
                            <li><a href="contato">Contato</a></li> 
                            <li><a href="cadastro">Cadastro</a></li>
                             <li><a href="saude">Sua saúde</a></li>
                             <li><a href="apoio">Apoio</a></li>
                             <li><a href="sobre">Sobre nós</a></li>
                            <li class="loginButton"><a href= "logando">Login</a></li> <!--Botão de leva pro form de login-->
                            {{/if}}
                        </ul>
                    </nav>
                </header>

    <button id="btnN">Tema Claro</button>
   
    <section>
        <!-- Banner -->
        <div class="banner">
            <h1 id="h1-banner">FITVitality</h1>
            <img id="bannerImage"  src="/imagemF.png"   alt="Banner bonito e vistoso"></img>
           
        </div>
    </section>

    <div id="img-picker">
        <ul>
        <li id="imagem1">
            <div class="btn-1">
                <span class="color selected ">.</span>
            </div> 
        </li>
        

        <li id="imagem2">
            <div class="btn-2">
                <span class="color">.</span>
            </div> 
        </li>

        <li id="imagem3">
            <div class="btn-3">
                <span class="color  ">.</span>
            </div> 
        </li>
        </ul>
        </div>
      

        <div id="about">
            <h2>Aqui informamos e caminhamos você para o melhor lugar para te ajudar</h2>
        <p class="p-0 focus">
          A SUA SAÚDE é a nossa prioridade, aqui iremos disponibilizar Ongs capacitadas para te ajudar 
          da melhor forma possível, com temas de cuidados físicos até aos emocionais, ressaltando os direitos de 
          trabalhadores da área de T.I, ao qual é o nosso foco, a cuidarem de si mesmos.            
        </p>
        <p class="p-0"> O ritmo acelerado, a pressão constante, as altas demandas e os prazos apertados impactam significativamente o bem-estar dos profissionais de TI, 
        fazendo com que esgotamento, estresse e ansiedade estejam mais presentes nas carreiras digitais. De acordo com o estudo "The State of Burnout". </p>

        <a id="caminho" href="/saude" >Informe-se e encaminhe-se clicando aqui!</a>
    </div>

    <section>
        <!-- Cards -->
        <div class="cards">
                <div class="card">
                    <img class="iconeDIe theImg-1" src="/iconfinderhealthcareandmedicalorganicvegansaladhealthyfoodavocadodietvegetarianfoodfruit4394832-115914_115867.png">
                    <p>Comer saúdavel não é comer a mesma coisa todos os dias, mas buscar o melhor 
                        dos alimentos sempre.
                </div>

                <div class="card">
                    <img class="iconeDIe" src="/noDie.png">
                    <p>Não é só de código, café e bug que o corpo precisa, 
                        30 minutos de caminhada é uma excelente forma de inciar!!            
                    </p>
                </div>
                
                <div class="card">
                    <img class="iconeDIe theImg" src="/rede-de-urgencia-em-saude-removebg-preview.png" alt="">
                    <p>
                        Manter um equilíbrio saudável entre a mente e o corpo é essencial para uma vida plena. 
                        A prática regular de atividades físicas não apenas fortalece nosso corpo, mas também desempenha 
                        um papel vital na promoção da saúde mental.
                </div>


                <div class="card">
                    <img class="iconeDIe theImg-1" src="/2013151.png">
                    <p>"Invista na tua saúde para não ter que gastar com uma doença."           
                    </p>
                </div>
               



          
        </div>
    </section>

   

    <section>
        
       

    </section>
















      
    <footer id="footerId">
        <p id="p-roda-a">Sua saúde é o que importa para nós</p>
        <p id="p-roda-b">Contato dos desenvolvedores:</p>
        
        <div id="alignGit">

            <a target="_blank" href="https://github.com/Ailton-Nascimento"><img class="img-git" src="/git-removebg-preview.png" alt=""></a>
    
    
            <a target="_blank" href="https://github.com/GabrielMS1903"><img class="img-git" src="/git-removebg-preview.png" alt=""></a>
    
    
            <a target="_blank" href="https://github.com/Abel-D-Silva"><img class="img-git" src="/git-removebg-preview.png" alt=""></a>
    
    
            <a target="_blank" href="https://github.com/rasecprogram"><img class="img-git" src="/git-removebg-preview.png" alt=""></a>
    
           </div>
        
      
       
      
        
    </footer>

    
</body>

</html>