<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/CSS/global.css">
    <link rel="stylesheet" href="/public/CSS/styleSuaSaude.css">
    <link rel="stylesheet" type="text/css" href="/public/CSS/styleHome.css">
    <title>Home</title>
</head>

<body>
    <header>
        <img class="logo" src="/img/logo.png" alt="Logo">  <!-- Logo -->

        <!-- Menu Navegação -->
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="index.html">Sobre Nós</a></li>
                <li><a href="suaSaude.html">Sua saúde</a></li>
                
                <li><a href="contato.html">Contato</a></li> 
                <li><a href="cadastro.html">Cadastro</a></li>
                <li class="loginButton"><a href="/templates/login.html"">Login</a></li> <!--Botão de leva pro form de login-->
            </ul>
        </nav>
    </header>

    <section>
        <!-- Banner -->
        <div class="banner">
            <h1 id="h1-banner">FITVitality</h2>
            <img class="bannerImage"  src="/img/_010ecf26-6783-4260-be7a-6ca1737f3dfd (1).jpg"   alt="Banner bonito e vistoso"">
           
        </div>
    </section>

    <div id="about">

        <div class="after">
            <span>o</span>
        </div>

        <div class="after">
            <span>o</span>
        </div>

        <div class="after">
            <span>o</span>
        </div>

        <h2>Aqui informamos e caminhamos você para o melhor lugar para te ajudar</h2>

        

        <p class="p-0 focus">
          A SUA SAÚDE é a nossa prioridade, aqui iremos disponibilizar Ongs capacitadas para te ajudar 
          da melhor forma possível, com temas de cuidados físicos até aos emocionais, ressaltando os direitos de 
          trabalhadores da área de T.I, ao qual é o nosso foco, a cuidarem de si mesmos.            
        </p>
        <p class="p-0"> O ritmo acelerado, a pressão constante, as altas demandas e os prazos apertados impactam significativamente o bem-estar dos profissionais de TI, 
        fazendo com que esgotamento, estresse e ansiedade estejam mais presentes nas carreiras digitais. De acordo com o estudo "The State of Burnout". </p>

        <a href="/templates/suaSaude.html">Informe-se e encaminhe-se por aqui!</a>
    </div>

    <section>
        <!-- Cards -->
        <div class="cards">
                <div class="card">
                    <img class="iconeDIe theImg-1" src="/img/iconfinderhealthcareandmedicalorganicvegansaladhealthyfoodavocadodietvegetarianfoodfruit4394832-115914_115867.png">
                    <p>Comer saúdavel não é comer a mesma coisa todos os dias, mas buscar o melhor 
                        dos alimentos sempre.
                </div>

                <div class="card">
                    <img class="iconeDIe" src="/img/noDie.png">
                    <p>Não é só de código, café e bug que o corpo precisa, 
                        30 minutos de caminhada é uma excelente forma de inciar!!            
                    </p>
                </div>
                
                <div class="card">
                    <img class="iconeDIe theImg" src="/img/rede-de-urgencia-em-saude-removebg-preview.png" alt="">
                    <p>
                        Manter um equilíbrio saudável entre a mente e o corpo é essencial para uma vida plena. 
                        A prática regular de atividades físicas não apenas fortalece nosso corpo, mas também desempenha 
                        um papel vital na promoção da saúde mental.
                </div>


                <div class="card">
                    <img class="iconeDIe theImg-1" src="/img/2013151.png">
                    <p>"Invista na tua saúde para não ter que gastar com uma doença."           
                    </p>
                </div>
               



          
        </div>
    </section>

   

    <section>
        


    </section>
















      
    <footer>
        <p id="p-roda-a">Sua saúde é o que importa para nós</p>
        <p id="p-roda-b">Contato dos desenvolvedores:</p>
        <a target="_blank" href="https://github.com/Ailton-Nascimento">Github Ailton</a>
        <a target="_blank" href="https://github.com/GabrielMS1903">Github Gabriel</a>
        
        <a target="_blank" href="https://github.com/Abel-D-Silva">GitHub Abel</a>
        <a target="_blank" href="https://github.com/rasecprogram">Github Augusto</a>
    </footer>
</body>

</html>